<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="main">
        <div class="main-2">
        <form action="/contact" method="post">
            <h1 class="heade">Contact now</h1>
            <input class="name" type="text" name="name" placeholder="Name..."> <br>
            <input class="email" type="email" name="email" placeholder="Email..."> <br>
            <button class="btn" >Submit</button>
        </form>
    </div>
    </div>
</body>
</html> -->